
.contenedor {
    background: black;
    color: white;
    width: auto;
    height: 80px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 40px;
    margin-top: 20px;
}

.fa-regular {
color: white;
font-size: 40px;
}